*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    background-image:url("../images/header.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
body{
    font-size: 20px;
    overflow: hidden;
    color: #fff;
    font-family: 'Flamenco', cursive;
}
.clearfix::after{
    content: ".";
    visibility: hidden;
    display: block;
    height: 0px;
    clear: both;
}
.row{
    max-width: 1180px;
    margin: 0 auto;

}
.logo{
    height: 120px;
    width: auto;
    float: left;
    margin-top: 20px;

}
.main-nav{
    float: right;
    margin-top: 60px;

}
.main-nav li{
    display: inline-block;
    list-style: none;
    margin-left: 40px;

}
.main-nav li a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    font-weight: 100;
    padding: 5px 0px;
}
.main-nav li a:hover{
    border-bottom: 2px solid #bf55ec;
}
.main-content-header{
    width: 1180px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);

}
h1{
    color: #fff;
    font-size: 240%;
    word-spacing: 5px;letter-spacing: 3px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: lighter;
}
.btn{
    display: inline-block;
    padding: 10px 30px;
    font-weight: lighter;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 200px;
    transition:background-color 0.2s, border 0.2s,color 0.2;
    width: 250px;
    text-align: center;
    margin: 5px 0px;
}
.btn-one{
    background-color: transparent;
    color: #bf55ec;
    margin-right: 15px;
    border: 2px solid #bf55ec;
}
.btn-one:hover{
    background-color: #fff;
}
.btn-two{
    background-color: transparent;
    color: #fff;
    margin-right: 15px;
    border: 2px solid #fff;
}
.btn-two:hover{
    background-color: #bf55ec;
}
.color-change{
    animation: change 5s infinite;
}
@keyframes change{
    0%{color: #bf55ec}
    25%{color: #fff}
    50%{color: red}
    75%{color: blue}
    99%{color: green}
}
.mobile-icon{
    display: none;
}
/* Responsive Query */
@media only screen and (max-width:1180px){
    .main-content-header{
        width: 100%;
        padding: 0px 25px;
    }
    .main-nav li{
        margin-right: 40px;
    
    }
    
}
@media only screen and (max-width:1250px){
    .main-nav li{
        margin-right: 10px;
    
    }
    .logo{
        margin-left: 30px;
    }
}
@media only screen and (max-width:761px){
    .main-nav{
        display: none;
    }
    .mobile-icon{
        float: right;
        color: #fff;   
        top: 30px;
        right: 20px;
        position: absolute;
        display: block;
    }
    .main-nav{float: left;}
    .main-nav li{
        display: block;
        margin-top: 10px;
    }
    h1{
        font-size: 100%;
    }
    .logo{
        margin-left: 30px;
    }
    .slideInRight{
        float: right;
    }

}
@media only screen and (max-width:370px){
    h1{
        font-size: 18px;
    }
}
